In [3]:
import pandas as pd # used for import pandas lib

In [4]:
def matchingFunction(data, column):# funct data=df , column = Skills
  data=preprocess(data, column)# funct data=df , column = Skills
  matchml(data,column) #funct data=df , column = Skills
  matchweb(data,column)#funct data=df , column = Skills
  applyDesignation(data, column)#funct data=df , column = Skills

def preprocess(data, column):
  data[column] = data[column].astype(str).apply(lambda x: x.replace(" ","")) #used for replace " " with ""
  data[column] = data[column].astype(str).apply(lambda x: x.replace("'",""))#used for replace "'" with ""
  data[column] = data[column].apply(lambda x: x[1:-1].split(','))#used for split list and add , between two element
  return data # return pre process data

def matchml(data, column):#
  data[column+'_Matched_ml']=data[column].apply(Functionml) # create data frame column name = Skills_matched_ml and 
   #then data[column]=df['Skills'] goes as list parameter to functionml  

def matchweb(data, column):
  data[column+'_Matched_web']=data[column].apply(Functionweb)# create data frame column name = Skills_matched_web and
  #then data[column]=df['Skills'] goes as list parameter to functionweb
    
    
def Functionweb(x):
    
  df2=pd.DataFrame({'web':['django','html','css','nodejs','reactjs','flask','laravel'],
  'ml':['nosql','pandas','numpy','matplotlib','seaborn','scipy','na']})# required df2 for both web and ml this skills 
   # classify 
  l=df2['web'].astype(str).values  # convert dataframe of web column into list
  a = set(x) # convert the list into set 
  b = set(l) # convert list into set

  if (len(a.intersection(b))>0): # intersection of set check value 
    return list(a.intersection(b))# convert into list and send the intersect elements
  else:
    return []# otherwise return [] nothing

def Functionml(x):
  df2=pd.DataFrame({'web':['django','html','css','nodejs','reactjs','flask','laravel'],
  'ml':['nosql','pandas','numpy','matplotlib','seaborn','scipy','na']})# required df2 for both web and ml this skills 
   # classify 

  l=df2['ml'].astype(str).values  # convert dataframe of web column into list
  a = set(x) # convert the list into set 
  b = set(l) # convert list into set
  if (len(a.intersection(b))>0):# intersection of set check value 
    return list(a.intersection(b))# convert into list and send the intersect elements
  else:
    return []# otherwise return [] nothing


def applyDesignation(data, column):
  data['Designation']='Not Fitting required skills'# define a column in df dataframe name 'Designation' with initial 
      # 'Not Fitting required skills' as first element

  data['Skills_Matched'] = 0  # define a column in df dataframe name 'Skills_Matched' with initial 
      # 0 as first element
  
  for x in range(0,len(data[column])): # loop 0 to 49
    m=len(data[column+'_Matched_web'][x]) # iterate 0 to 49 column of "Skills_Matched_web" and finds the number of elements
    # present in a particular column 
    
    n=len(data[column+'_Matched_ml'][x])# iterate 0 to 49 column of "Skills_Matched_ml" and finds the number of elements
    # present in a particular column 
    
    if m>=3: # if it is > 3 
        
      if m>n:  # if the value is greater than other column value at the same column of both
        data['Designation'][x]='Web_Developer' # put Web_Developer in Designation column
        data['Skills_Matched'][x]=m # number of skill matched in the column of Skills_Matched
    if n>=3:
      if m<n: # if the value is greater than other column value at the same column of both
        data['Designation'][x]='Machine_learning_Developer' # put Machine_learning_Developer in Designation column
        data['Skills_Matched'][x]=n # number of skill matched in the column of Skills_Matched

In [5]:
df=pd.read_excel('skill_data.xlsx')# read given excel file and put in df dataframe
matchingFunction(df, 'Skills') # function call and df as data and Skills as column send

C:\Users\goara\AppData\Local\Temp/ipykernel_20464/2998713433.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Designation'][x]='Web_Developer' # put Web_Developer in Designation column
C:\Users\goara\AppData\Local\Temp/ipykernel_20464/2998713433.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Skills_Matched'][x]=m # number of skill matched in the column of Skills_Matched
C:\Users\goara\AppData\Local\Temp/ipykernel_20464/2998713433.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Designation'][x]='Machine_learning_Developer' # put Machine_learning_Developer in Designation column
C:\Users\goara\AppData\Local\Temp/ipykernel_20464/2998713433.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Skills_Matched'][x]=n # number of skill matched in the column of Skills_Matched

In [6]:
df
# desired output

,Name,Skills,Skills_Matched_ml,Skills_Matched_web,Designation,Skills_Matched
0,Maurice Valdez,"[reactjs, django, numpy, nodejs, html]",[numpy],"[reactjs, nodejs, html, django]",Web_Developer,4
1,Samuel Green,"[laravel, css, laravel]",[],"[css, laravel]",Not Fitting required skills,0
2,Michael Rodgers,"[css, reactjs, flask, nodejs, nodejs]",[],"[css, nodejs, flask, reactjs]",Web_Developer,4
3,Lindsey Leach,"[nodejs, html, html, reactjs]",[],"[reactjs, nodejs, html]",Web_Developer,3
4,Kimberly Hartman,"[matpotlib, nosql]",[nosql],[],Not Fitting required skills,0
5,Benjamin Garcia,"[numpy, scipy, matpotlib, nosql, nodejs]","[scipy, nosql, numpy]",[nodejs],Machine_learning_Developer,3
6,Ernest Brown,"[scipy, pandas, nodejs]","[scipy, pandas]",[nodejs],Not Fitting required skills,0
7,Stephen Evans Jr.,"[seabron, laravel, nodejs, css, nosql]",[nosql],"[css, laravel, nodejs]",Web_Developer,3
8,Alan Rodriguez,"[reactjs, nodejs, nodejs, nosql]",[nosql],"[reactjs, nodejs]",Not Fitting required skills,0
9,Emily Barnes,"[html, html, matpotlib, laravel, css, nodejs]",[],"[css, laravel, nodejs, html]",Web_Developer,4
10,Christopher Kline,"[laravel, html, html, nodejs, nodejs]",[],"[laravel, nodejs, html]",Web_Developer,3
11,Melissa Greer,"[flask, seabron, scipy]",[scipy],[flask],Not Fitting required skills,0
12,Paul Evans,"[nodejs, nosql, laravel]",[nosql],"[laravel, nodejs]",Not Fitting required skills,0
13,Lisa Perry,"[django, numpy, scipy, html]","[scipy, numpy]","[html, django]",Not Fitting required skills,0
14,Wendy Torres,"[flask, reactjs, pandas, scipy, matpotlib]","[pandas, scipy]","[reactjs, flask]",Not Fitting required skills,0
15,Todd Patterson,"[nodejs, pandas]",[pandas],[nodejs],Not Fitting required skills,0
16,Aaron Mercado,"[flask, nodejs, css, numpy, django, laravel]",[numpy],"[nodejs, django, flask, laravel, css]",Web_Developer,5
17,Patrick Camacho,"[nodejs, matpotlib, html, matpotlib]",[],"[nodejs, html]",Not Fitting required skills,0
18,Aaron Sherman,"[seabron, nodejs, scipy, nodejs, html, reactjs]",[scipy],"[reactjs, nodejs, html]",Web_Developer,3
19,Gwendolyn Pearson,"[pandas, seabron, flask]",[pandas],[flask],Not Fitting required skills,0
20,Tiffany Johnson MD,"[nodejs, flask, scipy, pandas]","[pandas, scipy]","[flask, nodejs]",Not Fitting required skills,0
21,Leah Rowland,"[css, nodejs, flask, nosql, reactjs]",[nosql],"[css, reactjs, nodejs, flask]",Web_Developer,4
22,Dana May,"[nodejs, pandas]",[pandas],[nodejs],Not Fitting required skills,0
23,Cynthia Salazar,"[reactjs, nodejs, django]",[],"[reactjs, nodejs, django]",Web_Developer,3
24,Derek Adams,"[laravel, matpotlib, scipy, reactjs, laravel, ...","[scipy, numpy]","[reactjs, laravel]",Not Fitting required skills,0
25,Miranda Garcia,"[pandas, laravel]",[pandas],[laravel],Not Fitting required skills,0
26,Elizabeth Jones,"[nodejs, laravel, css, reactjs, nosql, flask]",[nosql],"[reactjs, nodejs, flask, laravel, css]",Web_Developer,5
27,Brandi Wilson,"[nosql, matpotlib, matpotlib, django, reactjs]",[nosql],"[reactjs, django]",Not Fitting required skills,0
28,James Stanton,"[reactjs, flask, matpotlib, django, css, nodejs]",[],"[reactjs, nodejs, django, flask, css]",Web_Developer,5
29,James Parker,"[html, nodejs]",[],"[nodejs, html]",Not Fitting required skills,0
30,Stephen Wilson,"[numpy, scipy, nodejs, numpy, css, numpy]","[scipy, numpy]","[css, nodejs]",Not Fitting required skills,0
31,Mitchell Watson,"[matpotlib, nosql]",[nosql],[],Not Fitting required skills,0
32,Allison White,"[nosql, css]",[nosql],[css],Not Fitting required skills,0
33,Linda Williams,"[nodejs, flask, scipy, matpotlib, nodejs]",[scipy],"[flask, nodejs]",Not Fitting required skills,0
34,Joseph Herrera,"[numpy, nodejs, flask, nosql, nodejs]","[nosql, numpy]","[flask, nodejs]",Not Fitting required skills,0
35,Kelly Hurley,"[matpotlib, seabron, nodejs, matpotlib, flask]",[],"[flask, nodejs]",Not Fitting required skills,0
36,John Preston,"[reactjs, pandas, html, flask]",[pandas],"[reactjs, flask, html]",Web_Developer,3
37,Jacob Lopez,"[seabron, nodejs, pandas, nosql]","[pandas, nosql]",[nodejs],Not Fitting required skills,0
38,Debbie Jensen,"[numpy, reactjs]",[numpy],[reactjs],Not Fitting required skills,0
39,Paula Alvarez,"[nosql, reactjs, matpotlib, laravel]",[nosql],"[reactjs, laravel]",Not Fitting required skills,0
40,Nathan Flores,"[seabron, html, numpy]",[numpy],[html],Not Fitting required skills,0
41,Amanda Wright,"[html, html, css, nodejs, seabron, pandas]",[pandas],"[css, nodejs, html]",Web_Developer,3
42,Craig Franklin MD,"[css, nodejs, django, nodejs, matpotlib]",[],"[css, nodejs, django]",Web_Developer,3
43,Michelle Blanchard,"[numpy, numpy, seabron]",[numpy],[],Not Fitting required skills,0
44,Phillip Moss,"[nodejs, css]",[],"[css, nodejs]",Not Fitting required skills,0
45,Jennifer Patrick,"[django, nodejs]",[],"[nodejs, django]",Not Fitting required skills,0
46,Melvin Dominguez,"[laravel, css]",[],"[css, laravel]",Not Fitting required skills,0
47,Christina Willis,"[laravel, nodejs, nosql, django, matpotlib]",[nosql],"[laravel, nodejs, django]",Web_Developer,3
48,Alexander Mueller,"[scipy, nosql, css, laravel, laravel]","[scipy, nosql]","[css, laravel]",Not Fitting required skills,0
49,Jessica Johnson,"[nosql, html, css, scipy]","[scipy, nosql]","[css, html]",Not Fitting required skills,0

In [8]:
df['Designation'][5] #check it

'Machine_learning_Developer'

In [9]:
file_name='Complete_defined_data.xlsx' # file name and it type here it is export in excel format

In [10]:
df.to_excel(file_name)# converted done